@import "../Global/boilerplate.scss";
@import "../Global/colors.scss";
@import "../Global/typhography.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.hero {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: $gray-bg-color;
    position: relative;
  
    @media (max-width: 900px) {
      height: auto;
      padding: 11rem 0;
    }
  }
.container {
    margin: 0 auto;
    max-width: 110rem;
    padding: 10rem 10rem;
    margin-top: 5rem;
    background-color: #f9f9f9;
    
}
.content {
    align-items: center;
    display: flex;
    gap: 5rem;
    justify-content: center;
    position: relative;
    
}
.hero-text {
    display: flex;
    flex-direction: column;
    max-width: 40rem;
    position: relative;
    padding-bottom: 70px;

}
.hero-text h1 {
    color: #2d2e32;
    font-size: 3.5rem;
    line-height: 1.2;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
}
.hero-text p {
    color: #555;
    font-family: Mulish,sans-serif;
    font-size: 1.5rem;
    font-weight: 150rem;
    line-height: 2.0rem;
}
.profile-picture{

    /*-webkit-animation: morph 8s ease-in-out infinite;*/
    animation: morph 8s ease-in-out infinite;
    background-image: url("../Components/image/myimage2.jpg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #2d2e32;
    border-radius: 70% 40% 30% 70%/60% 30% 70% 40%;
    height: 24rem;
    position: relative;
    transition: all 1s ease-in-out;
    width: 25rem;
    padding-bottom: 20px;
}   
@keyframes morph{
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}





@media screen and (max-width: 600px) {
    .container {
        padding: 0 1.7rem;
    }
    .content {
        flex-direction: column-reverse;
        gap: 3rem;
        height: auto;
        text-align: center;
    }
    .hero-text {
        font-size: 4rem;

    }
    .p{
        font-size: 4rem;
    }
    .profile-picture {
        width: 18rem;
        height: 18rem;

    }
    
}