.containers {
    padding: 10px 10%;
    @media (max-width: 1020px) {
        grid-template-columns: 1fr;
        text-align: center;
      }
}

#about {
    padding: 80px 0px;
    color: #ababab;
    @media (max-width: 1020px) {
        padding: 8rem 0;
      }
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: 1020px) {
        grid-template-columns: 1fr;
        text-align: center;
      }
      @media (max-width: 400px) {
        align-items: center;
      }
}

.about-col-1 {
    //background-image: url("C://Users/2139560/OneDrive - Cognizant/Documents/portfolio/myportfolio/src/image/images2.png");
    flex-basis: 35%;
    background-position: 50%;
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 20px;
    padding: 20px;

    @media (max-width: 600px) {
        width: 18rem;
        height: 18rem;
        margin-bottom: 3rem;
      }
  
      @media (max-width: 600px) {
        bottom: 3px;
        right: 100px;
        left: 100px;
      }
  
}

.about-col-1 img {
    width: 120%;
    border-radius: 20px;
    height: 110%;
    margin-left: -5%;
    @media (max-width: 1020px) {
        width: 18rem;
        height: 18rem;
        
    }
    @media (max-width: 400px) {
        width: 18rem;
        height: 18rem;
        margin-left: -6rem;
    }

}
.__main-img {

    border-radius: 1.7rem;
    @media (max-width: 1020px) {
        margin-bottom: 3.5rem;
      }
    @media (max-width: 400px) {
        width: 100%;
        height: auto;
      }


}

.about-col-2 {
    flex-basis: 60%;
    .sub-title {
        font-size: 1.7rem;
        font-weight: 700;
        color: #ff004f;
        margin-bottom: 1rem; 
        @media (max-width: 400px)
        {
            margin-right: 8rem;
        }
    
    }  
}
.about-col-2 p{ 
    font-size: 1.0rem;
    font-family: "Mulish", sans-serif;
    color:  #767676;
    font-weight: 500;
    line-height: 1.5;
    @media (max-width: 1020px) {
        max-width: 54rem;
        margin: 0 auto;
    }
    
      @media (max-width: 400px) {
        text-align: center;
        padding-right: 3rem;
        margin-right: 5rem;

    } 
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

/* .tab-links:hover::after{
width: 100%;
} */
.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #b54768;
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}
.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    list-style: none;
}

.skills li {
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
    display: grid;
    height: 4.5rem;
    justify-content: center;
    width: 4.5rem;
}
li{
    color: #000;
}



